<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://{{ master_private_ip }}</value>
    </property>

    <property>
      <name>fs.s3n.impl</name>
      <value>org.apache.hadoop.fs.s3native.NativeS3FileSystem</value>
      <description>The FileSystem for s3n: (Native S3) uris.</description>
    </property>

</configuration>
