{
    "display_name": "pySpark (Spark {{spark_version}})",
    "language": "python",
    "argv": [
        "/usr/bin/python2",
        "-m",
        "IPython.kernel",
        "-f",
        "{connection_file}"
    ],
    "env": {
        "SPARK_HOME": "{{ spark_home }}",
        "PYTHONPATH": "{{ spark_home }}/python/",
        "PYTHONSTARTUP": "{{ spark_home }}/python/pyspark/shell.py",
        "PYSPARK_SUBMIT_ARGS": "--master spark://{{ ansible_hostname }}:7077 pyspark-shell"
    }
}
